<header>
  <hgroup>
    <h1>Last Ride</h1>
    <h2>{{formatDateTime start_time}}</h2>
  </hgroup>
</header>

<div class="section-content">
  <div class="summary distance">
    <h2>Distance</h2>
    <p>
      {{formatDistance distance}}
      <abbr title="miles">mi</abbr>
    </p>
  </div>

  <div class="summary duration">
    <h2>Active Duration</h2>
    <p>{{formatDuration active_duration}}</p>
  </div>

  <div class="summary elevation">
    <h2>Elevation Gain</h2>
    <p>
      {{formatElevation elevation_gain}}
      <abbr title="feet">ft</abbr>
    </p>
  </div>

  <div class="summary read-more">
    <a href="/rides/{{id}}" title="View Ride Details">View Ride Details</a>
  </div>
</div>
