<section>
  <header>
    <hgroup>
      <h1>This Week</h1>
      <h2>{{formatRideCount week_ride_count}} ({{formatDate week_start_time}} - {{formatDate week_end_time}})</h2>
    </hgroup>
  </header>

  <div class="section-content">
    <div class="summary distance">
      <h2>Distance</h2>
      <p>
        {{formatDistance week_distance}}
        <abbr title="miles">mi</abbr>
      </p>
    </div>

    <div class="summary duration">
      <h2>Active Duration</h2>
      <p>{{formatDuration week_duration}}</p>
    </div>

    <div class="summary elevation">
      <h2>Elevation Gain</h2>
      <p>
        {{formatElevation week_elevation_gain}}
        <abbr title="feet">ft</abbr>
      </p>
    </div>

    <div class="summary read-more">
      <a href="/summary/weekly" title="View Weekly Summary">View Weekly Summary</a>
    </div>
  </div>
</section>

<section>
  <header>
    <hgroup>
      <h1>This Month</h1>
      <h2>{{formatRideCount month_ride_count}}</h2>
    </hgroup>
  </header>

  <div class="section-content">
    <div class="summary distance">
      <h2>Distance</h2>
      <p>
        {{formatDistance month_distance}}
        <abbr title="miles">mi</abbr>
      </p>
    </div>

    <div class="summary duration">
      <h2>Active Duration</h2>
      <p>{{formatDuration month_duration}}</p>
    </div>

    <div class="summary elevation">
      <h2>Elevation Gain</h2>
      <p>
        {{formatElevation month_elevation_gain}}
        <abbr title="feet">ft</abbr>
      </p>
    </div>
  </div>
</section>

<section>
  <header>
    <hgroup>
      <h1>This Year</h1>
      <h2>{{formatRideCount year_ride_count}}</h2>
    </hgroup>
  </header>

  <div class="section-content">
    <div class="summary distance">
      <h2>Distance</h2>
      <p>
        {{formatDistance year_distance}}
        <abbr title="miles">mi</abbr>
      </p>
    </div>

    <div class="summary duration">
      <h2>Active Duration</h2>
      <p>{{formatDuration year_duration}}</p>
    </div>

    <div class="summary elevation">
      <h2>Elevation Gain</h2>
      <p>
        {{formatElevation year_elevation_gain}}
        <abbr title="feet">ft</abbr>
      </p>
    </div>
  </div>
</section>
