<section>
  <header>
    <hgroup>
      <h1>This Week</h1>
      <h2>{{formatDate week_start_time}} - {{formatDate week_end_time}}</h2>
    </hgroup>
  </header>

  <div class="section-content">
    <div class="summary ride-count">
      <h2>Rides</h2>
      <p>{{formatNumber week_segment_count}}</p>
    </div>

    <div class="summary distance">
      <h2>Distance</h2>
      <p>
        {{formatDistance week_distance}}
        <abbr title="miles">mi</abbr>
      </p>
    </div>

    <div class="summary duration">
      <h2>Active Duration</h2>
      <p>{{formatDuration week_duration}}</p>
    </div>

    <div class="summary elevation">
      <h2>Elevation Gain</h2>
      <p>
        {{formatElevation week_elevation_gain}}
        <abbr title="feet">ft</abbr>
      </p>
    </div>
  </div>
</section>

<section>
  <header>
    <hgroup>
      <h1>This Month</h1>
    </hgroup>
  </header>

  <div class="section-content">
    <div class="summary ride-count">
      <h2>Rides</h2>
      <p>{{formatNumber month_segment_count}}</p>
    </div>

    <div class="summary distance">
      <h2>Distance</h2>
      <p>
        {{formatDistance month_distance}}
        <abbr title="miles">mi</abbr>
      </p>
    </div>

    <div class="summary duration">
      <h2>Active Duration</h2>
      <p>{{formatDuration month_duration}}</p>
    </div>

    <div class="summary elevation">
      <h2>Elevation Gain</h2>
      <p>
        {{formatElevation month_elevation_gain}}
        <abbr title="feet">ft</abbr>
      </p>
    </div>
  </div>
</section>

<section>
  <header>
    <hgroup>
      <h1>This Year</h1>
    </hgroup>
  </header>

  <div class="section-content">
    <div class="summary ride-count">
      <h2>Rides</h2>
      <p>{{formatNumber year_segment_count}}</p>
    </div>

    <div class="summary distance">
      <h2>Distance</h2>
      <p>
        {{formatDistance year_distance}}
        <abbr title="miles">mi</abbr>
      </p>
    </div>

    <div class="summary duration">
      <h2>Active Duration</h2>
      <p>{{formatDuration year_duration}}</p>
    </div>

    <div class="summary elevation">
      <h2>Elevation Gain</h2>
      <p>
        {{formatElevation year_elevation_gain}}
        <abbr title="feet">ft</abbr>
      </p>
    </div>
  </div>
</section>
