.start-time
  = @segment.start_time

%section#distance
  %header
    %h1 Distance

  %dl
    %dt Total Distance
    %dd
      = @segment.distance
      %abbr{ :title => 'miles' } mi

    %dt Ascending Distance
    %dd
      = @segment.ascending_distance
      %abbr{ :title => 'miles' } mi

    %dt Descending Distance
    %dd
      = @segment.descending_distance
      %abbr{ :title => 'miles' } mi

    %dt Flat Distance
    %dd
      = @segment.flat_distance
      %abbr{ :title => 'miles' } mi

%section#duration
  %header
    %h1 Duration

  %dl
    %dt Total Duration
    %dd
      = @segment.duration

    %dt Active Duration
    %dd
      = @segment.active_duration

    %dt Acending Duration
    %dd
      = @segment.ascending_duration

    %dt Descending Duration
    %dd
      = @segment.descending_duration

    %dt Flat Duration
    %dd
      = @segment.flat_duration

%section#speed
  %header
    %h1 Speed

  %dl
    %dt Speed
    %dd
      = @segment.average_speed
      %abbr{ :title => 'miles per hour' } mph

    %dt Ascending Speed
    %dd
      = @segment.average_ascending_speed
      %abbr{ :title => 'miles per hour' } mph

    %dt Descending Speed
    %dd
      = @segment.average_descending_speed
      %abbr{ :title => 'miles per hour' } mph

    %dt Flat Speed
    %dd
      = @segment.average_flat_speed
      %abbr{ :title => 'miles per hour' } mph

    %dt Maximum Speed
    %dd
      = @segment.maximum_speed
      %abbr{ :title => 'miles per hour' } mph

%section#pace
  %header
    %h1 Pace

  %dl
    %dt Pace
    %dd
      = @segment.average_pace
      %abbr{ :title => 'minutes per mile' } min/mi

    %dt Ascending Pace
    %dd
      = @segment.average_ascending_pace
      %abbr{ :title => 'minutes per mile' } min/mi

    %dt Descending Pace
    %dd
      = @segment.average_descending_pace
      %abbr{ :title => 'minutes per mile' } min/mi

    %dt Flat Pace
    %dd
      = @segment.average_flat_pace
      %abbr{ :title => 'minutes per mile' } min/mi

%section#elevation
  %header
    %h1 Elevation

  %dl
    %dt Elevation Gain
    %dd
      = @segment.elevation_gain
      %abbr{ :title => 'feet' } ft

    %dt Elevation Loss
    %dd
      = @segment.elevation_loss
      %abbr{ :title => 'feet' } ft

    %dt Maximum Elevation
    %dd
      = @segment.maximum_elevation
      %abbr{ :title => 'feet' } ft

    %dt Minimum Elevation
    %dd
      = @segment.minimum_elevation
      %abbr{ :title => 'feet' } ft

    %dt Elevation Change
    %dd
      = @segment.elevation_change
      %abbr{ :title => 'feet' } ft

%section#heart_rate
  %header
    %h1 Heart Rate

  %dl
    %dt Heart Rate
    %dd
      = @segment.average_heart_rate
      %abbr{ :title => 'beats per minute' } bpm

    %dt Maximum Heart Rate
    %dd
      = @segment.maximum_heart_rate
      %abbr{ :title => 'beats per minute' } bpm
