%h1
  = @segment.name
  %small= @segment.start_time

= link_to 'Back', root_path
|
= link_to 'Edit', edit_segment_path(@segment)

#elevation_chart.chart

%small TODO: change this chart to be over distance instead of over time
%br
%small TODO: add speed and pace to the chart
%br
%br

%table
  %tbody
    %tr
      %td
        %h2 Distance

        %dl
          %dt Total Distance
          %dd
            = @segment.distance
            %abbr{ :title => 'miles' } mi

          %dt Ascending Distance
          %dd
            = @segment.ascending_distance
            %abbr{ :title => 'miles' } mi

          %dt Descending Distance
          %dd
            = @segment.descending_distance
            %abbr{ :title => 'miles' } mi

          %dt Flat Distance
          %dd
            = @segment.flat_distance
            %abbr{ :title => 'miles' } mi
      %td
        %h2 Elevation

        %dl
          %dt Elevation Gain
          %dd
            = @segment.elevation_gain
            %abbr{ :title => 'feet' } ft

          %dt Elevation Loss
          %dd
            = @segment.elevation_loss
            %abbr{ :title => 'feet' } ft

          %dt Elevation Change
          %dd
            = @segment.elevation_change
            %abbr{ :title => 'feet' } ft

          %dt Minimum Elevation
          %dd
            %em Coming Soon...

          %dt Maximum Elevation
          %dd
            %em Coming Soon...

      %td
        %h2 Duration

        %dl
          %dt Total Duration
          %dd= @segment.duration

          %dt Active Duration
          %dd= @segment.active_duration

          %dt Ascending Duration
          %dd= @segment.ascending_duration

          %dt Descending Duration
          %dd= @segment.descending_duration

          %dt Flat Duration
          %dd= @segment.flat_duration

      %td
        %h2 Pace

        %dl
          %dt Average Pace
          %dd= "#{@segment.average_pace} per mile"

          %dt Average Ascending Pace
          %dd= "#{@segment.average_ascending_pace} per mile"

          %dt Average Descending Pace
          %dd= "#{@segment.average_descending_pace} per mile"

          %dt Average Flat Pace
          %dd= "#{@segment.average_flat_pace} per mile"

      %td
        %h2 Speed

        %dl
          %dt Average Speed
          %dd
            = @segment.average_speed
            %abbr{ :title => 'miles per hour' } mph

          %dt Average Ascending Speed
          %dd
            = @segment.average_ascending_speed
            %abbr{ :title => 'miles per hour' } mph

          %dt Average Descending Speed
          %dd
            = @segment.average_descending_speed
            %abbr{ :title => 'miles per hour' } mph

          %dt Average Flat Speed
          %dd
            = @segment.average_flat_speed
            %abbr{ :title => 'miles per hour' } mph

          %dt Maximum Speed
          %dd
            = @segment.maximum_speed
            %abbr{ :title => 'miles per hour' } mph
