<td class="date">
  <a href="/rides/{{id}}" title="View Ride Details">{{formatDateTime start_time}}</a>
</td>
<td class="distance numeric">
  {{formatDistance distance}}
  <abbr title="miles">mi</abbr>
</td>
<td class="duration numeric">
  {{formatDuration active_duration}}
</td>
<td class="elevation numeric">
  {{formatElevation elevation_gain}}
  <abbr title="feet">ft</abbr>
</td>
<td class="speed numeric">
  {{formatSpeed average_speed}}
  <abbr title="miles per hour">mph</abbr>
</td>
<td class="pace numeric">
  {{formatPace average_pace}}
  <abbr title="minutes per mile">min/mi</abbr>
</td>
<td class="heart-rate numeric">
  {{formatHeartRate average_heart_rate}}
  <abbr title="beats per minute">bpm</abbr>
</td>
