<div class="start-time">
  {{formatDateTime start_time}}
</div>

<section class="map">
  <header>
    <h1>Map</h1>
  </header>

  <div id="map" class="chart"></div>
</section>

<section class="distance">
  <header>
    <h1>Distance</h1>
  </header>

  <div class="summary distance">
    <h2>Distance</h2>
    <p>
      {{formatDistance distance}}
      <abbr title="miles">mi</abbr>
    </p>
  </div>

  <div class="summary distance ascending">
    <h2>Ascending Distance</h2>
    <p>
      {{formatDistance ascending_distance}}
      <abbr title="miles">mi</abbr>
    </p>
  </div>

  <div class="summary distance descending">
    <h2>Descending Distance</h2>
    <p>
      {{formatDistance descending_distance}}
      <abbr title="miles">mi</abbr>
    </p>
  </div>

  <div class="summary distance flat">
    <h2>Flat Distance</h2>
    <p>
      {{formatDistance flat_distance}}
      <abbr title="miles">mi</abbr>
    </p>
  </div>
</section>

<section class="duration">
  <header>
    <h1>Duration</h1>
  </header>

  <div class="summary duration">
    <h2>Duration</h2>
    <p>
      {{formatDuration duration}}
    </p>
  </div>

  <div class="summary duration active">
    <h2>Active Duration</h2>
    <p>
      {{formatDuration active_duration}}
    </p>
  </div>

  <div class="summary duration ascending">
    <h2>Acending Duration</h2>
    <p>
      {{formatDuration ascending_duration}}
    </p>
  </div>

  <div class="summary duration descending">
    <h2>Descending Duration</h2>
    <p>
      {{formatDuration descending_duration}}
    </p>
  </div>

  <div class="summary duration flat">
    <h2>Flat Duration</h2>
    <p>
      {{formatDuration flat_duration}}
    </p>
  </div>
</section>

<section class="elevation">
  <header>
    <h1>Elevation</h1>
  </header>

  <div class="chart elevation">
    <div class="highchart"></div>
    <ul class="menu"></ul>
  </div>

  <div class="summary elevation gain">
    <h2>Elevation Gain</h2>
    <p>
      {{formatElevation elevation_gain}}
      <abbr title="feet">ft</abbr>
    </p>
  </div>

  <div class="summary elevation loss">
    <h2>Elevation Loss</h2>
    <p>
      {{formatElevation elevation_loss}}
      <abbr title="feet">ft</abbr>
    </p>
  </div>

  <div class="summary elevation maximum">
    <h2>Maximum Elevation</h2>
    <p>
      {{formatElevation maximum_elevation}}
      <abbr title="feet">ft</abbr>
    </p>
  </div>

  <div class="summary elevation minimum">
    <h2>Minimum Elevation</h2>
    <p>
      {{formatElevation minimum_elevation}}
      <abbr title="feet">ft</abbr>
    </p>
  </div>

  <div class="summary elevation change">
    <h2>Elevation Change</h2>
    <p>
      {{formatElevation elevation_change}}
      <abbr title="feet">ft</abbr>
    </p>
  </div>
</section>

<section class="speed">
  <header>
    <h1>Speed</h1>
  </header>

  <div class="chart speed"></div>

  <div class="summary speed">
    <h2>Speed</h2>
    <p>
      {{formatSpeed average_speed}}
      <abbr title="miles per hour">mph</abbr>
    </p>
  </div>

  <div class="summary speed maximum">
    <h2>Maximum Speed</h2>
    <p>
      {{formatSpeed maximum_speed}}
      <abbr title="miles per hour">mph</abbr>
    </p>
  </div>

  <div class="summary speed ascending">
    <h2>Ascending Speed</h2>
    <p>
      {{formatSpeed average_ascending_speed}}
      <abbr title="miles per hour">mph</abbr>
    </p>
  </div>

  <div class="summary speed descending">
    <h2>Descending Speed</h2>
    <p>
      {{formatSpeed average_descending_speed}}
      <abbr title="miles per hour">mph</abbr>
    </p>
  </div>

  <div class="summary speed flat">
    <h2>Flat Speed</h2>
    <p>
      {{formatSpeed average_flat_speed}}
      <abbr title="miles per hour">mph</abbr>
    </p>
  </div>
</section>

<section class="pace">
  <header>
    <h1>Pace</h1>
  </header>

  <div class="chart pace"></div>

  <div class="summary pace">
    <h2>Pace</h2>
    <p>
      {{formatPace average_pace }}
      <abbr title="minutes per mile">min/mi</abbr>
    </p>
  </div>

  <div class="summary pace ascending">
    <h2>Ascending Pace</h2>
    <p>
      {{formatPace average_ascending_pace }}
      <abbr title="minutes per mile">min/mi</abbr>
    </p>
  </div>

  <div class="summary pace descending">
    <h2>Descending Pace</h2>
    <p>
      {{formatPace average_descending_pace }}
      <abbr title="minutes per mile">min/mi</abbr>
    </p>
  </div>

  <div class="summary pace flat">
    <h2>Flat Pace</h2>
    <p>
      {{formatPace average_flat_pace }}
      <abbr title="minutes per mile">min/mi</abbr>
    </p>
  </div>
</section>

<section class="heart-rate">
  <header>
    <h1>Heart Rate</h1>
  </header>

  <div class="summary heart-rate">
    <h2>Heart Rate</h2>
    <p>
      {{formatHeartRate average_heart_rate}}
      <abbr title="beats per minute">bpm</abbr>
    </p>
  </div>

  <div class="summary heart-rate maximum">
    <h2>Maximum Heart Rate</h2>
    <p>
      {{formatHeartRate maximum_heart_rate}}
      <abbr title="beats per minute">bpm</abbr>
    </p>
  </div>
</section>
