!!!
%html
  %head
    %title Ride Log

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz'
    = stylesheet_link_tag 'application'

    = javascript_include_tag 'application'
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'

    :javascript
      App.hrefs = {
        segments: "#{api_segments_url}",
        reports: {
          totals: "#{api_reports_totals_url}"
        }
      };

    = csrf_meta_tags

  %body
    %header
      %h1 Ride Log

    %nav
      %ul
        %li
          %a{ :href => '/', :title => 'Home' } Home
        %li
          %a{ :href => '/upload', :title => 'Upload' } Upload

    #container
      = yield
