!!!
%html
  %head
    %title GPX Analyzer
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    :javascript
      window.segments = new App.Collections.SegmentCollection(#{render :file => 'segments/index.json.rabl'})
    = csrf_meta_tags
  %body
    .container
      = yield
